In [27]:
# import data manimulation liabraries
import numpy as np
import pandas as pd
# import data visualization laibraries
import matplotlib.pyplot as plt
import seaborn as sns

# import filter warning liabraries
import warnings
warnings.filterwarnings('ignore')

# import logging files

import logging
logging.basicConfig(level=logging.INFO,
                   filemode='w',
                   filename='model.log',
                   format='%(asctime)s - %(levelname)s - %(message)s',force= True)

In [28]:
# Data import using pandas fuction

url= 'https://raw.githubusercontent.com/ankitmandhare1111/bankmarketing_MLModel/refs/heads/main/BankTelemarketing.csv'

df= pd.read_csv(url,sep= ';')

print(df.sample(frac=1))
df.sample(frac=1) # suffel dataset

       age           job   marital  education default  balance housing loan  \
8072    44  entrepreneur  divorced  secondary      no     -143     yes   no
19827   46    management   married   tertiary      no     1808      no   no
7518    44    technician   married  secondary      no      378     yes   no
24016   47        admin.   married   tertiary      no     1077      no   no
16368   25    management    single   tertiary      no      323      no  yes
...    ...           ...       ...        ...     ...      ...     ...  ...
1387    40    management   married   tertiary      no      -29      no   no
3952    43   blue-collar  divorced    primary      no      -57     yes   no
5459    35   blue-collar   married  secondary      no      430     yes   no
10601   44     housemaid   married    primary      no     2351      no   no
1734    29   blue-collar   married    primary     yes      -43     yes   no

         contact  day month  duration  campaign  pdays  previous poutcome   y
8072     unknown    2   jun        66         6     -1         0  unknown  no
19827   cellular    8   aug       172         2     -1         0  unknown  no
7518     unknown   30   may       203         2     -1         0  unknown  no
24016  telephone   29   aug        43         2     -1         0  unknown  no
16368   cellular   23   jul        98         1     -1         0  unknown  no
...          ...  ...   ...       ...       ...    ...       ...      ...  ..
1387     unknown    8   may       406         2     -1         0  unknown  no
3952     unknown   16   may       221         2     -1         0  unknown  no
5459     unknown   23   may       147        50     -1         0  unknown  no
10601    unknown   16   jun       250         2     -1         0  unknown  no
1734     unknown    9   may       484         1     -1         0  unknown  no

[45211 rows x 17 columns]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
6581,35,technician,single,secondary,no,175,yes,no,unknown,28,may,223,1,-1,0,unknown,no
40136,40,technician,married,secondary,no,1819,no,no,cellular,5,jun,398,2,-1,0,unknown,no
45199,34,blue-collar,single,secondary,no,1475,yes,no,cellular,16,nov,1166,3,530,12,other,no
33972,33,admin.,married,secondary,no,1737,no,no,cellular,30,apr,524,2,-1,0,unknown,no
18939,41,management,single,tertiary,no,260,no,no,cellular,4,aug,149,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5120,28,services,single,secondary,no,-427,yes,yes,unknown,21,may,965,2,-1,0,unknown,no
25801,54,housemaid,married,tertiary,no,440,no,no,cellular,19,nov,89,1,-1,0,unknown,no
29509,50,entrepreneur,married,tertiary,no,2442,no,no,cellular,3,feb,145,1,-1,0,unknown,no
7063,44,blue-collar,married,primary,no,3753,yes,no,unknown,28,may,122,4,-1,0,unknown,no
43802,39,unemployed,divorced,secondary,no,265,yes,no,unknown,27,may,93,1,555,2,other,yes

In [29]:
logging.info('Dataset uploded successfull')

In [31]:
logging.info('Dataset uploded successfull2')

In [30]:
df.shape,df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

((45211, 17), None)